@import url("https://fonts.googleapis.com/css?family=Lato:100");

:root {
  --rotate: 0deg;
}

body {
  height: 100vh;
  perspective: 100em;
  perspective-origin: 50% 50%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background-color: #141414;
}

/*body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}


table, tbody, tr {
  position: absolute;
}

table {
  top: 50%;
  left: 50%;
  font-size: 8vmin;
  line-height: 8vmin;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 50%;
  transform: rotateY(var(--rotate));
  transition: transform 500ms ease-in-out;
}

tbody {
  transform-style: preserve-3d;
}

tbody > tr {
  margin: -4em;
  width: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(RGBA(0, 0, 0, 0.05)));
}

tbody > tr > th {
  width: 100%;
  background-color: white;
}

tbody > tr:nth-child(1) {
  transform: rotateY(60deg) translateZ(6.9282em);
}
tbody > tr:nth-child(1) > td {
  background-color: rgba(63, 40, 80, 0.97);
}
tbody > tr:nth-child(1) > th {
  background-color: rgba(31, 20, 39, 0.97);
}

tbody > tr:nth-child(2) {
  transform: rotateY(120deg) translateZ(6.9282em);
}
tbody > tr:nth-child(2) > td {
  background-color: rgba(77, 40, 80, 0.97);
}
tbody > tr:nth-child(2) > th {
  background-color: rgba(38, 20, 39, 0.97);
}

tbody > tr:nth-child(3) {
  transform: rotateY(180deg) translateZ(6.9282em);
}
tbody > tr:nth-child(3) > td {
  background-color: rgba(80, 40, 70, 0.97);
}
tbody > tr:nth-child(3) > th {
  background-color: rgba(39, 20, 34, 0.97);
}

tbody > tr:nth-child(4) {
  transform: rotateY(240deg) translateZ(6.9282em);
}
tbody > tr:nth-child(4) > td {
  background-color: rgba(80, 40, 57, 0.97);
}
tbody > tr:nth-child(4) > th {
  background-color: rgba(39, 20, 28, 0.97);
}

tbody > tr:nth-child(5) {
  transform: rotateY(300deg) translateZ(6.9282em);
}
tbody > tr:nth-child(5) > td {
  background-color: rgba(80, 40, 43, 0.97);
}
tbody > tr:nth-child(5) > th {
  background-color: rgba(39, 20, 21, 0.97);
}

tbody > tr:nth-child(6) {
  transform: rotateY(360deg) translateZ(6.9282em);
}
tbody > tr:nth-child(6) > td {
  background-color: rgba(80, 50, 40, 0.97);
}
tbody > tr:nth-child(6) > th {
  background-color: rgba(39, 25, 20, 0.97);
}

tbody > tr > th {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

tbody > tr > td {
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}
tbody > tr > td:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}


#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
